@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Comic Neue", serif;
    line-height: 1.15;
}

body {
    font-size: 16px;
    overflow-x: hidden;
}

div {
    display: block;
}


nav {
    padding: 5px 10px;
    height: max-content;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    background: linear-gradient(to right, #E6C243, 20%, #A8A8A8);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#logo_container {
    &>h3 {
        font-family: "pacifico", cursive;
        font-size: 20px;
        font-weight: 900;
        color: black;
        text-shadow: 1px 1px 0 #A8A8A8;
        margin-top: -1.6em;
    }
}

#logo,
.logo {
    max-width: calc(5em*3.1);
    margin-top: -1.7em;
}

.links_container {
    /* height: 80px; */
    width: 100%;
    max-width: 40em;
    display: flex;
    align-items: center;
    justify-content: center;

    &>a>img {
        margin-right: 1.5em;
    }
}

main {
    padding: 30px 0px;
}

.hero-section {
    text-align: center;

    &>h3 {
        font-weight: bolder;
    }
}

.stroke-text {
    color: #FEC01D;
    -webkit-text-stroke: 1px black;
    
}

footer{
    background: linear-gradient(to right, #E6C243, 20%, #A8A8A8);
    display: flex;
    align-items: center;
    justify-content: center;
}









@media screen and (max-width: 520px) {
    nav {
        justify-content: center;
        flex-direction: column;
    }
}